 .header {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  justify-content: space-between;
  display: flex;  
}

.notification-icon {
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  opacity: 0.75;
  align-items: center;
}
.notification-icon:hover {
  opacity: 1;
}

.header-logo {
  width: 115px;
    height: 30px;
    cursor: pointer;
    margin-left: 80px;
    padding-top: 15px;
}
  
.avatar {
  border-radius: 50%;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  background-color: #eebc40;
  opacity: 0.75;
  cursor: pointer;
  justify-content: flex-end;
}

  .avatar:hover {
    opacity: 1;
  }

.right-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 80px;
}

#avatar-text {
  display: flex;
  margin-top: 10px;
  font-size: 20px;
  color: 	#b02525;
  padding-top: 8px;
  padding-left: 13px;
}

.dropdown:hover .dropdown-content{
display: block;
}
.content {
 
  margin: 60px;
  justify-content: center;
  
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Times New Roman', Times, serif;
}

.dropdown-content a {
  color: rgba(131, 127, 127, 0.89);
  padding: 12px 16px;
  text-decoration: none;
  display: block;}

  .dropdown-content span{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: antiquewhite;
    cursor: pointer;
    opacity: 0.75;
  
  }
  .dropdown-content span:hover{
    opacity: 1;
    background-color: rgb(248, 214, 171);
  }